.metadata
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.settings/
.loadpath
.recommenders
.classpath
.project
*.jar

.log
.lock
*.MF
*.policy
*.properties
/build/


obj/
.suo
*.user
.gitignore
